@model ProviderSocialServices.Models.Procedure
@{
    ViewBag.Title = "StoredProcedures";
}

<br />
<h2>Хранимые процедуры</h2>
<div class="input-prepend input-append">
    <form method="post">
        <select name="NameProcedure">
            <option value="Количество фактических адресов">Количество фактических адресов</option>
            <option value="Количесвто юридических адресов">Количесвто юридических адресов</option>
            <option value="Количество emails"> Количество emails</option>
            <option value="Количество проектов">
                Количество проектов
            </option>
            <option value="Количество услуг">
                Количество услуг
            </option>
            <option value="Количество сайтов">
                Количество сайтов
            </option>
            <option value="Количество телефонов">
                Количество телефонов
            </option>
            <option value="Количество дней существования организации">
                Количество дней существования организации
            </option>
            <option value="Максимальное значение"> Максимальное значение
            </option>
            <option value="Минимальное значение">Минимальное значение</option>
        </select>

        <input type="text" name="Params"/>
        <button type="submit">Выполнить</button>

        <div class="alert alert-info">
            Результат - @Model.Answer
        </div>
    </form>
</div>



